<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Register our custom checks with Checkstyle -->
   <extension
         point="net.sf.eclipsecs.core.checkstyleAddonProvider">
      <checkstyleAddon
            id="CheckStyleTest.addon"
            name="My Custom Checks"
            metadata="checkstyle-metadata.xml">
      </checkstyleAddon>
   </extension>

</plugin>
